@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-whisky-50;
  }
}

/* Leaflet map styles */
.leaflet-container {
  font-family: inherit;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
}

